/* Custom — site-specific overrides and tweaks */

/* Ограничения для фонов */
@media screen and (min-width: 1160px) { /* Задаю ограничение ширины фона для ПК */
    .uc-background-zero {
        max-width: 1380px;
        left: 50% !important;
        transform: translateX(-50%);
        width: 100% !important;
    }
}

/* Подгоняю заголовки стандартных блоков под сетку Zero */
@media screen and (min-width: 1160px) { /* Задаю ограничение ширины фона для ПК */
    .t489 .t-col {
        margin-left: 10px;
    }
}

@media screen and (max-width: 960px) {
    .t489__top {
        margin-bottom: 0px;
    }
}

/* ——————————————— */

/* Главный экран */

@media screen and (max-width: 960px) { /* Сокращаю отступы в адаптиве внутри карточек с краткой информацией о курсе на главном экране */
    .t1053__col:first-child .t1053__col-wrapper {
        padding: 25px 0 25px 0;
    }
    
    .t1053__col-wrapper {
        padding: 25px 0 25px 0;
    }
    
    .t1053 .t1053__col { /* Делаю карточки в 2 колонки */
        width: 50%;
        height: auto !important;
        display: block;
    }
    
    .t1053 .t1053__col:first-child {
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        border-radius: 0px 0px 20px 0px;
    }
    
    .t1053 .t1053__col:last-child {
        border-left: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        border-radius: 20px 0px 0px 0px;
    }
    
    /*.t1053 .t1053__col:nth-child(3) {
       border-right: 1px solid #e1e1e1;
    }
    
    .t1053 .t1053__col:nth-child(2) {
       border-bottom: 1px solid #e1e1e1;
    }*/
    
    .t1053 .t1053__line {
        display: none;
    }
    
    .t1053:before {
        display: none !important;
    }
}

.t1053 .t-list__item:last-child .t1053__title:before { /* Добавляю звездочку в смысл про отзывы */
    content: '';
    background-image: url(assets/55782_Star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 6px;
    top: 4px;
    position: relative;
}

@media screen and (max-width: 480px) { /* Адаптирую звездочку */
    .t1053 .t-list__item:last-child .t1053__title:before {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    top: 4px;
    }
}

/* ——————————————— */

/* Карточки курсов */

.t778__bgimg { /* Закругляю углы у изображения */
    margin: 5px;
    border-radius: 20px;
}

.t778__markwrapper { /* Кастомизирую плашку в верху карточки */
    left: 12px;
    top: 20px;
}

.t778__mark {
    font-weight: 600;
    font-size: 14px;
    font-family: 'Inter';
    padding: 10px 20px;
    display: inline;
    color: #2F4909 !important;
    background-color: #D1FA94 !important;
}

@media screen and (min-width: 1160px) {
    .t778 .t-col_6 {
        max-width: 580px;
    }

    .t778 .t-col {
        margin-left: 10px;
        margin-right: 10px;
        transition: all 0.2s ease-out;
    }
}

@media screen and (max-width: 960px) {
    .t778__col_mobile-grid {
        width: 100%;
    }
}

.t778__imgwrapper {
    padding-bottom: 56%;
}

/*.t778 .t-col:hover {
    transform: scale(0.98);
    transition: all 0.2s ease-out;
}*/

.t778__col:hover:not(.no-link) {
    transform: scale(0.98);
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 480px) {
.t778__btn {
    font-size: 12px !important;
}
}


/* ——————————————— */

/* Отзывы */

.t827__grid-item { /* скругляю углы у скриншотов */
    border-radius: 20px;
    overflow: hidden;
}

@media screen and (min-width: 1160px) { /* Адаптирую скриншоты */
    .t827__grid-sizer {
        width: 580px !important;
    }
    
    .t827__grid-item {
        width: 580px !important;
    }
    
    .t827__grid_pt-10 {
        width: 1160px !important;
    }
    
    .t827__container_padd-column {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 480px) and (max-width: 640px) {
    .t827__grid-sizer {
        width: 420px !important;
    }
    
    .t827__grid-item {
        width: 420px !important;
    }
    
    .t827__grid_pt-10 {
        width: 460px !important;
    }
}

@media screen and (min-width: 1160px) { /* Адаптирую видеоотзывы */
    .t1061 .t-col_6 {
        max-width: 580px;
    }
    
    .t1061 .t-col {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.uc-feedback .t017 .t017__title:before { /* Добавляю звездочку в заголовок */
    content: '';
    background-image: url(assets/55782_Star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 8px;
    top: 4px;
    position: relative;
}

@media screen and (max-width: 900px) { /* Адаптирую звездочку */
    .uc-feedback .t017 .t017__title:before { /* Добавляю звездочку в заголовок */
    content: '';
    background-image: url(assets/55782_Star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    top: 4px;
    position: relative;
    }
}

/* ——————————————— */

/* Видеоотзывы */

@media screen and (max-width: 680px) {
    .t1061-col {
        margin-bottom: 8px;
    }
}


/* ——————————————— */

/* Мобильное меню */

.t450__overlay {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.t450__menu_show.t450 {
    border-radius: 20px 0 0 20px;
}

/* Добавляю ховер на текстовые ссылки */
    .t420 .t420__descr li:hover {
        margin-left: 8px;
        opacity: 0.7;
    }
    
    .t420 .t420__descr li {
        transition: all 0.2s ease-out;
    }

/* код убирает тень у виджета соцсетей */

.uc-label .t898__bgimg {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.t898__btn_label {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.t898__icon_link {
    border-radius: 50%;
    box-shadow: 0 0 0px 0 rgba(0,0,0,0);
    width: 50px;
    height: 50px;
}

.t898__btn {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

/* кастомизирую иконки соцсетей в подвале*/

.t420 .t-sociallinks, .t420__right_social_links {
    margin-top: 20px;
}

.t420 .t-sociallinks svg {
    display: block;
    height: 40px;
    width: 40px;
}

.t420 .t-sociallinks__item a {
    width: 40px !important;
    height: 40px !important;
}

.t420 .t-sociallinks__item, .t420__right_social_links_item {
    margin-right: 8px;
}

.t420 .t-sociallinks__item:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}

.t420 .t-sociallinks__item {
    transition: all 0.2s ease-out;
}

